include ../partials/header
doctype html
html
    head
        +head
    body
        +menu
        .container
            .row
                +flashMessage
                .jumbotron
                    h1(style="text-align: center; color: #777") Login to blog
                        span(style="font-weight: 900") COM
                    div(style="width: 30%; margin: 30px auto;")
                        form(action="/login" method="POST" style="text-align: center")
                            .form-group
                                input.form-control.input-lg(type="text" name="username" placeholder="Username")
                            .form-group
                                input.form-control.input-lg(type="password" name="password" placeholder="Password")
                            .form-group
                                button.btn.btn-lg.btn-primary Log In
                        a(href="/blogs") 
                            i.fas.fa-arrow-left
                            |  Go Back
