include partials/header
doctype html
html
    head
        +head
    body
        +menu
        .container
            header.jumbotron
                .container
                    h1 Welcome To blog
                        span(style="font-weight: 900") COM
                        | !
                    p A simple blog created with NodeJS, Express and Mongo
                    a.btn.btn-primary.btn-large(href="/campgrounds/new" style="font-weight: bold") 
                        i.fas.fa-plus  
                        |    New Blog

            row.text-center(style="display:flex; flex-wrap: wrap;")
                for campground in campgrounds
                    .col-md-3.col-sm-6
                        .thumbnail
                            img(src=campground.image)
                            br
                            a= campground.author.username
                        .caption
                            h4=campground.name
                        a(href="/campgrounds/" + campground._id).btn.btn-primary 
                            i.fas.fa-chevron-circle-down
                            |  Read More
