include partials/header
doctype html
html
    head
        +head
        script(src="/js/generate-blog-text.js")
    body
        +menu
        .container
            .row
                +flashMessage
                h1(style="text-align: center") Write a new Blog
                div(style="width: 40%; margin: 25px auto;")
                    form(action="/blogs" method="POST")
                        .form-group
                            input.form-control.input-lg#title(type="text" name="title" placeholder="Name")
                        .form-group
                            input.form-control#image(type="text" name="image" placeholder="Image URL")
                        .form-group
                            textarea.form-control#body(name="body" rows="10" placeholder="Blog body goes here...")
                            button.btn#generate(type="button") Generate
                        .form-group
                            button.btn.btn-lg.btn-primary.btn-block Post
                    a(href="/blogs")
                        i.fas.fa-arrow-left
                        |  Go Back
