include partials/header
doctype html
html
    head
        +head
    body
        +menu
        .container
            .row
                +flashMessage
                .jumbotron
                    h1(style="text-align: center") Sign Up to blog
                        span(style="font-weight: 900") COM
                    div(style="width: 40%; margin: 30px auto;")
                        form(action="/register" method="POST" style="text-align: center")
                            .form-group
                                input.form-control(type="text" name="username" placeholder="Username")
                            .form-group
                                input.form-control.input-lg(type="text" name="firstName" placeholder="First Name")
                            .form-group
                                input.form-control.input-lg(type="text" name="surName" placeholder="Surname")
                            .form-group
                                input.form-control(type="password" name="password" placeholder="Password")
                            .form-group
                                button.btn.btn-lg.btn-primary Sign Up
                        a(href="/blogs")
                            i.fas.fa-arrow-left
                            |  Go Back
