@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans|Sarabun|PT+Sans);
@import url(//fonts.googleapis.com/css?family=Black+Han+Sans);

body {
    font-family: 'PT Sans', sans-serif;
}
h1, h1 span {
    font-family: 'Sarabun', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #777;
}
.jumbotron, .container {
    color: #777;
}

.row .blog-heading {
    line-height: 2em;
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
    background-image: linear-gradient(rgb(230, 230, 240), rgb(250, 250, 250));
}
.row-centered {
    text-align:center;
}
.col-centered {
    padding-top: 15px;
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;
    border: 1px solid #ddd;
}
.col-centered * {
    text-align: left;
}

.blog-body {
    color: #333;
    font-size: 18px;
}
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    word-wrap: break-word;
}
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: solid transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        border-right-color: inherit;
        border-width: 16px;
    }
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        border-left-color: inherit;
        border-width: 16px;
    }
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}

.comment-list .comment-post {
    margin-top: 6px;
}

.caption-full {
    padding: 6px;
}
.error {
    width: 200px;
    height: 20px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10px;
    background-color: rgba(38, 38, 38, 0.8);
    color: #F0F0F0;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px -1px rgba(46, 46, 46, 1);
    -moz-box-shadow: 0px 0px 30px -1px rgba(46, 46, 56, 1);
    box-shadow: 0px 0px 30px -1px rgba(46, 46, 46, 1);
}

#new {
    padding: 5px;
    animation: fadeout 8s;
}
@keyframes fadeout {
    0% {
        background: floralwhite;
    }
    70% {
        background: floralwhite;
    }
    100% {
        background: none;
    }
}

@media (max-width:768px) {
    .navbar-brand {
        width:100px;
        max-height:50px;
    }
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .popup .popupbody {
    visibility: hidden;
    width: 200px;
    background-color: #aab6b8;
    color: #777;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -80px;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


.thumbnail {
    position: relative;
    overflow: hidden;
}

.thumbnail .mask img {
    width: 100%;
    max-height: 100vh;
    opacity: 0.4;
}
.mask {
    background-color: #000;
}

.thumbnail #prev {
    height: 200px;
}

.mask .caption {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.mask .caption p {
    color: white;
    font-size: 1.5em;
}

.mask:hover > .caption {
    display: none;
    animation: fadeOut 1s;
}
.mask:hover > img { 
    animation: prevFadeIn 1s forwards;
}

@-webkit-keyframes prevFadeIn {
    100% {opacity: 1;}
  }
  
  @keyframes prevFadeIn {
    100% {opacity: 1;}
  }

@-webkit-keyframes fadeOut {
    100% {opacity: 0;}
  }
  
  @keyframes fadeOut {
    100% {opacity: 0;}
  }

  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    transform: scale(1.5);
  }